@model IEnumerable<CakeFactoryProd.ViewModels.RoleVM>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
        </tr>
}
    </tbody>
</table>
