@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

    <div class="row">
    <div class="col-md-2 border border-3 mt-5">
            <partial name="_AdminNav" />
        </div>
    <div class="col-md-9 col-md-9 border border-3 mt-5">
            @RenderBody()
        </div>
    </div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
