
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <div class="main_banner">
        <img src=~/images/cakeFactory-banner.jpg alt="flour on a board" />
    </div>
    <div class="items">
        <div class="item article-01">
            <img src="~/images/carrotCake.jpg" alt="Carrot Cake">
            <h2>Carrot Cake</h2>
        </div>
        <div class="item article-02">
            <img src="~/images/chocolateCake.jpg" alt="Chocolate Cake">
            <h2>Chocolate Cake</h2>
        </div>
        <div class="item article-03">
            <img src="~/images/emptyCake.jpg" alt="Empty Cake">
            <h2>Custormized Cake</h2>
        </div>
    </div>
</div>
