@model IEnumerable<CakeFactoryProd.Models.Cake>

@{
    ViewData["Title"] = "Home Page";
}


<div class="wrapper">
    <div class="main-banner">
    <img src=~/images/cakeFactory-banner.jpg alt="flour on a board" />
    <div class="banner-inner">
            <h1 class="banner-title">Welcome to <span class="cake-factory-banner-name">Cake Factory!</span></h1>
        <p class="banner-text">Our cakes are made with the finest ingredients and are baked fresh daily. We offer a variety of flavors and sizes to suit your needs. We also offer custom cakes for any occasion.</p>
    </div>
</div>
    <section class="cake-container">
        <div class="cake-container-title">
            <h1>Cakes</h1>
        </div>
        
    @foreach (var cake in Model)
    {
       <a asp-controller="Cake" asp-action="Detail" asp-route-id="@cake.Id" class="cake-item">             
        <div class="cake-image">
            <img src="~/images/@cake.ImagePath" alt="@cake.Name">
        </div>
        <div class="cake-contents">
            <h2 class="cake-name">@cake.Name</h2>
            <p class="cake-price">$@String.Format("{0:0.00}", @cake.Price)</p>
        </div>      
            </a>
        }
        <a asp-controller="Cake" asp-action="Detail" asp-route-id="0" class="cake-item">
            <div class="cake-image">
                <img src="~/images/emptyCake.jpg" alt="custom cake">
            </div>
            <div class="cake-contents">
                <h2 class="cake-name">Custom Cake</h2>
                <p class="cake-price">$50.00 - $100.00</p>
            </div>
        </a>
    </section>
</div>