@using Microsoft.AspNetCore.Identity
@using CakeFactoryProd.ViewModels
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor



<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User) && !String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Preffered Name")))
{

    <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-controller="User" asp-action="UserProfile" title="Manage">@HttpContextAccessor.HttpContext.Session.GetString("Preffered Name")'s Profile</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Cart" asp-action="Index">Cart</a>
    </li>
    }

    
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
     <li class="nav-item">
        <a class="nav-link" asp-controller="Cart" asp-action="Index">Cart</a>
     </li>     
}
</ul>

