
<div style="text-align: center">
    <h2 style="color:red; margin-top: 50px;">We are sorry.</h2>
    <div style="color:red; margin-top: 30px; font-size: 1em; align-items: center;">
        <p style="line-height: 4em;">
            Something bad happen.
        </p>
        <p style="line-height: 4em;">
            Please contact admin at admin@cakefactory.ca or come to visit us.
        </p>
    </div>
</div>
<hr />
