@import 'nav.css';
@import "home-page.css";
@import "cake-detail.css";
@import "footer.css";
@import "about-page.css";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 14px;
}

body {
    font-family: 'Arbutus Slab', serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


.wrapper {
    max-width: 1500px;
    margin: 0;
    background-color: white;
    min-height: 100vh;
}

.container {
    text-align: center;
}


.img-all {
    width: 25px;
    height: 25px;
}

.itemX-profile {
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 20px;
}
    

/*above information is anything smaller than 768px*/
@media (min-width: 768px) {
    html {
    font-size: 16px;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
    }
}



